@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

:root {
    --bg-primary: #2B408A;
    --bg-primary-hover: #fff;
    --bg-secondary: #DDDDDD;
    --bg-success: #00EB18;
    --text-primary: #fff;
    --text-primary-hover: #2B408A;
}

body{
    background-color: var(--bg-primary);
    color: var(--text-primary);
    font-family: 'Inter', sans-serif;
}

.nav-logo{
    font-size: 44px;
}

.nav-logo img{
    width: 10%;
}

.nav-items{
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-text{
    color: var(--text-primary);
    font-family: 'Just Another Hand', cursive;
    font-size: 30px;
    text-decoration: none;
    margin: 1% 3% 0 3%;
    transition: .5s;
    padding: 10px;
    border-radius: 15px;
}

.nav-text:hover{
    color: var(--text-primary-hover);
    background-color: var(--bg-primary-hover);
    transition: .5s;
}